<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : specialtyCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment-->
<!--URL : #app/scheduleAppointment-->

<ion-view title="Qual especialidade?">
	<ion-nav-title>
		&nbsp;&nbsp;<i class="icon fa fa-stethoscope"></i>&nbsp;&nbsp;Qual especialidade?
	</ion-nav-title>
	<ion-nav-buttons side="left">
        <button ng-click="backToDashboard()" class="button back-button buttons button-clear header-item nav-back-btn">
    </ion-nav-buttons>
	<ion-content>
	    <form name="appointmentForm">

			<ion-list>
				<ion-item ng-repeat="specialty in specialties" ng-click="selectSpecialty(specialty)">
					{{ specialty.label }}
				</ion-item>
			</ion-list>

	    </form>
	</ion-content>
</ion-view>
