<ion-view title="{{ procedure.mainDescription }}">
	<ion-nav-title>
		{{ procedure.mainDescription }}
    </ion-nav-title>
	<!--dashboard section-->
	<ion-content id="procedure-content" class="padding">
		<section ng-if="!isLoading">
			<!-- COMPONENTE DO REFRESH -->
			<ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
			<div class="text-center padding-vertical" ng-if="loading">
				<br />
				<ion-spinner icon="ripple"></ion-spinner>
			</div>

			<div style="text-align: center;">
				<h4> {{ procedure.mainDescription }} </h4>

				<h5>
					<small ng-repeat="desc in procedure.descriptions">{{ desc }} <br> </small>
				</h5>
			</div>

			<br>


			<div ng-if="!healthProviders || healthProviders.length == 0" class="text-center">
				<br>
				<br>
				<span class="assertive"> Não temos informação dessa rede ainda. </span>
				<br>
				Solicite essa rede clicando aqui em baixo.
				<i class="fa fa-level-down"></i>
			</div>
			<div class="animate-fade-slide-in" ng-if="healthProviders.length > 0">
				Rede:
				<div class="list card" ng-repeat="healthProvider in healthProviders">

					<div class="item item-avatar" style="white-space: normal !important">
						<img ng-src="{{ healthProvider.image ? healthProvider.image : 'img/icons/hospital.ico' }}">
						<h2>{{ healthProvider.name }}</h2>
						<p ng-repeat="phone in healthProvider.address.phones">
	    					<i class="fa fa-phone"></i>&nbsp;
							{{ phone }}
						</p>

						<p>
							<i class="fa fa-map-marker"></i>&nbsp;
							{{ healthProvider.address.area }}&nbsp;-&nbsp;
							{{ healthProvider.address.address}}&nbsp;-&nbsp;
							{{ healthProvider.address.zip }}
						</p>
					</div>

				</div>

			</div>

			<br>
			<br>

			<hr>

			<button class="button button-full button-assertive" ng-click="requestNetwork()">
				Solicitar Rede
			</button>
		</section>
    </ion-content>
</ion-view>
