<ion-view title="Rede">
	<ion-nav-title>
      &nbsp;<i class="icon fa fa-stethoscope"></i>&nbsp;&nbsp;Rede
    </ion-nav-title>
	<ion-nav-view>
		<tabs-menu state="network"></tabs-menu>
	</ion-nav-view>
	<!--dashboard section-->
	<ion-content id="dashboard-content">
		<!-- COMPONENTE DO REFRESH -->
		<ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
		<div class="text-center padding-vertical" ng-if="loading">
			<br />
			<ion-spinner icon="ripple"></ion-spinner>
		</div>

		<h2> {{ procedure.mainDescription }} </h2>

		<h3>
			<small ng-repeat="desc in procedure.descriptions">{{ desc }}</small>
		</h3>

		<!-- CARDS APPOINTMENT REQUEST -->
		<!-- <div class="animate-fade-slide-in"> -->
		<div>

			<div class="list">


			</div>

		</div>

		<button class="button button-block button-positive">
			Solicitar Rede
		</button>
    </ion-content>
</ion-view>
