<!--View Information-->
<!--View name : Setting-->
<!--Controller name : settingCtrl-->
<!--Controller path : www/setting/js/controllers.js-->
<!--State name : app.setting-->
<!--URL : #app/setting-->

<ion-view title="Configurações">
    <ion-content>
        <!--list section-->
        <md-list>
            <md-subheader class="md-warn">Notificação</md-subheader>
            <md-list-item class="md-list-item-default" ng-click="navigateTo('app.dashboard',true)">
                <i class="fa fa-play"></i>

                <p>Me alertar com um dia de antecedencia</p>
            </md-list-item>
            <md-list-item class="md-list-item-default" ng-click="navigateTo('app.dashboard',false)">
                <i class="fa fa-stop"></i>

                <p>Vibrar? ON</p>
            </md-list-item>
        </md-list><!--end list section-->
    </ion-content>
</ion-view>
