<ion-view>
	<ion-nav-title>
		&nbsp;&nbsp;<i class="icon fa fa-comment-o"></i>&nbsp;&nbsp;Alguma observação?
	</ion-nav-title>
	<!-- <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons> -->
	<ion-content>
		<div class="text-center padding">
		    <form name="appointmentForm">
				<ion-list>
					<label class="item item-input item-floating-label">
						<span class="input-label">Observação</span>
						<textarea id="observation" name="observationsField" ng-model="model.comments" rows="6" placeholder="Observação: Caso exita algo a mais que necessite use este espaço para indicar."></textarea>
						<div class="hint" style="opacity: 0.4;">Alguma coisa diferente sobre esse agendamento?</div>
					</label>
				</ion-list>

				<button ng-click="continue()" class="button button-block button-positive">CONTINUAR</a>
		    </form>
		</div>
	</ion-content>
</ion-view>
