<!--View Information-->
<!--View name : User Profile-->
<!--Controller name : userProfileCtrl-->
<!--Controller path : www/templates/user-profile/js/controllers.js-->
<!--State name : app.userProfile-->
<!--URL : #app/userProfile-->

<ion-view title="Perfil" id="expense-dashboard">

    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right" ng-click="goToSetting()"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons>

    <md-toolbar class="bar-subheader md-tall md-primary toolbar-expense">
        <div>
            <img src="{{appUser.picture}}" class="user-img"/>

            <h1>{{appUser.name}}</h1>
        </div>
        <a class="md-button md-accent md-fab fab-toolbar-medium" aria-label="Editar">
            <i class="icon ion-edit"></i>
        </a>
    </md-toolbar>

    <ion-content>

    </ion-content>
</ion-view>
