<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/templates/dashboard/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view title="Hospitais com emergência">
	<ion-nav-title>
	  &nbsp;<i class="icon fa fa-stethoscope"></i>&nbsp;&nbsp;Hospitais com emergência
	</ion-nav-title>
	<ion-nav-view>
		<tabs-menu state="emergency"></tabs-menu>
	</ion-nav-view>
	<!--dashboard section-->
	<ion-content id="dashboard-content">
		<!-- COMPONENTE DO REFRESH -->
		<ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
		<div class="text-center padding-vertical" ng-if="loading">
			<br />
			<ion-spinner icon="ripple"></ion-spinner>
		</div>

		<div class="list card">
			<div class="item item-body" style="padding: 0px !important;">
				<div id="map" style="width: 100%; height: 350px;" data-tap-disabled="true"></div>
			</div>
		</div>

		<div class="animate-fade-slide-in">

			<div class="list card" ng-repeat="hospital in emergencyHospitals">

				<div class="item item-avatar" style="white-space: normal !important">
					<img ng-src="{{ hospital.image ? hospital.image : 'img/icons/hospital.ico' }}">
					<h2>{{ hospital.name }}</h2>
					<p ng-repeat="phone in hospital.address.phones">
    					<i class="fa fa-phone"></i>&nbsp;
						{{ phone }}
					</p>

					<p>
						<i class="fa fa-map-marker"></i>&nbsp;
						{{ hospital.address.area }}&nbsp;-&nbsp;
						{{ hospital.address.address}}&nbsp;-&nbsp;
						{{ hospital.address.zip }}
					</p>
				</div>

			</div>

		</div>
	</ion-content>
</ion-view>
