<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/templates/dashboard/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view title="Hospitais com emergência">
	<ion-nav-title>
      &nbsp;<i class="icon fa fa-stethoscope"></i>&nbsp;&nbsp;Hospitais com emergência
    </ion-nav-title>
	<ion-nav-view>
		<!-- <button id="new-appointment" class="button button-fab button-fab-bottom-right expanded button-positive spin" ng-class="{ on: !loading }" ui-sref="app.scheduleAppointment" aria-label="Add"> -->
		<!-- <button id="new-appointment" class="button button-fab button-fab-bottom-right expanded button-positive drop" ng-class="{ on: !loading }" ui-sref="app.scheduleAppointment" aria-label="Add">
			<i class="icon ion-plus-round"></i>
		</button> -->
		<!-- button button-fab button-fab-top-right expanded button-energized-900 drop -->
		<div class="tabs-striped tabs-color-balanced">
			<div class="tabs">
				<a class="tab-item active" href="#">
					<i class="icon ion-home"></i>
					Test
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-star"></i>
					Favorites
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-gear-a"></i>
					Settings
				</a>
			</div>
		</div>
	</ion-nav-view>
	<!--dashboard section-->
	<ion-content id="dashboard-content">
		<!-- COMPONENTE DO REFRESH -->
		<ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
		<div class="text-center padding-vertical" ng-if="loading">
			<br />
			<ion-spinner icon="ripple"></ion-spinner>
		</div>

		<!-- CARDS APPOINTMENT REQUEST -->
		<div class="animate-fade-slide-in">


		</div>
    </ion-content>
</ion-view>
