<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-balanced">
		<h1 class="title">Requisição de rede</h1>
		<button class="button button-clear button-primary" ng-click="commentModal.cancel()">Cancelar</button>
	</ion-header-bar>
	<ion-content class="padding">
		<form name="form">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Comentário</span>
					<textarea id="comment" ng-model="commentModal.comment" name="comment" required placeholder="Explique melhor a sua necessidade." rows="8" cols="65" style="width:100%"></textarea>
					<!-- <div class="hint">Diga nos o porque da desistência para que possamos te ajudar.</div> -->
				</label>
				<br>
				<button class="button button-full button-balanced" ng-click="commentModal.ok()">OK</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
