<ion-view title="Rede">
	<ion-nav-title>
      &nbsp;<i class="icon fa fa-hospital-o"></i>&nbsp;&nbsp;Rede
    </ion-nav-title>
	<!--dashboard section-->
	<ion-content id="network-content">
		<!-- COMPONENTE DO REFRESH -->
		<ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
		<div class="text-center padding-vertical" ng-if="loading">
			<br />
			<ion-spinner icon="ripple"></ion-spinner>
		</div>

		<div class="list" style="margin-bottom: 0px;">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="searchText">
			</label>
		</div>

		<!-- CARDS APPOINTMENT REQUEST -->
		<!-- <div class="animate-fade-slide-in"> -->
		<div>

			<div class="list">

				<div class="item item-divider"> Consultas </div>
				<a class="item" ui-sref="app.tabs.network-medical-specialty({ id: medicalSpecialty._id })" ng-repeat="medicalSpecialty in medicalSpecialties | filter:searchText | limitTo:30">
					{{ medicalSpecialty.name }}
				</a>

				<div class="item item-divider"> Procedimentos </div>
				<a class="item" ui-sref="app.tabs.network-procedure({ id: procedure._id })" ng-repeat="procedure in procedures | filter:searchText | limitTo:30" style="white-space: normal">
					{{ procedure.mainDescription }}
				</a>

			</div>

		</div>
    </ion-content>
</ion-view>
