<!--View Information-->
<!--View name : Facebook Login-->
<!--Controller name : facebookLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookLogin-->
<!--URL : #app/facebookLogin-->

<ion-view title="Entrar no Rhases">
    <!--login content section-->
    <ion-content scroll="false" id="social-login">
        <form>
            <div>
              <img src="img/logo.png" style="width: 80%" />
            </div>
            <h3>Podemos agendar a sua consulta?</h3>

            <div class="padding-top">
                <button class="button button-block icon ion-social-facebook button-positive facebook-background" ng-click="facebookSignIn()">
                    Continuar com o Facebook
                </button>
            </div>
        </form>

    </ion-content><!--end login content section-->
</ion-view>
