<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/templates/dashboard/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view>
	<ion-nav-title>
      &nbsp;<i class="icon fa fa-address-card"></i>&nbsp;&nbsp;Meu Plano
    </ion-nav-title>
	<ion-nav-view>
		<!-- <button id="new-appointment" class="button button-fab button-fab-bottom-right expanded button-positive spin" ng-class="{ on: !loading }" ui-sref="app.scheduleAppointment" aria-label="Add"> -->
		<tabs-menu state="my-plan"></tabs-menu>

		<ion-content id="dashboard-content">

			<h2 class="text-center">{{ healthPlan.name }}</h2>

			<div class="list card">
				<ion-item style="padding-bottom: 0px;">
					<span>O que cobre?</span>
				</ion-item>
				<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
					<i class="icon fa fa-stethoscope"></i>
					<ion-list ng-repeat="coverageType in healthPlan.coverageTypes">
						<ion-item style="padding-bottom: 1px;">
							{{ prettyCoverageType(coverageType) }}
						</ion-item>
					</ion-list>
				</ion-item>
			</div>

			<div class="list card">
				<ion-item style="padding-bottom: 0px;">
					<span>Acomodação</span>
				</ion-item>
				<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
					<i class="icon fa fa-bed"></i>
					<ion-list>
						<ion-item>
							{{ healthPlan.accomodation }}
						</ion-item>
					</ion-list>
				</ion-item>
			</div>

			<div class="list card" ng-if="showMaxPrice()">
				<ion-item style="padding-bottom: 0px;">
					<span>Preço Máximo</span>
				</ion-item>
				<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
					<i class="icon fa fa-money"></i>
					<ion-list>
						<ion-item>
							R$ {{ maxPrice() }}
						</ion-item>
					</ion-list>
				</ion-item>
			</div>

			<div class="list card">
				<ion-item style="padding-bottom: 0px;">
					<span>Área de Cobertura</span>
				</ion-item>
				<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
					<i class="icon ion-map"></i>
					<ion-list>
						<ion-item>
							{{ healthPlan.coverageAreaType }}
						</ion-item>
					</ion-list>
				</ion-item>
			</div>

		</ion-content>

	</ion-nav-view>

</ion-view>
