<!--View Information-->
<!--View name : About Us-->
<!--Controller name : aboutUsCtrl-->
<!--Controller path : www/templates/about-us/js/controllers.js-->
<!--State name : app.aboutUs-->
<!--URL : #app/aboutUs-->

<ion-view view-title="Fale com a gente">
    <ion-content>
      <div class="responsive-lg">
        <div class="hero" style="background-image: url('img/brasilia.jpg');">

        </div>

        <div class="content im-wrapper responsive-lg" style="text-align: center;">
          <div class="row  responsive-lg">
            <h4>Rhases</h4>

            <blockquote>Nós acreditamos que o melhor do ser humano está em cuidar um do outro.</blockquote>
          </div>

          <div class="list">
            <a class="item item-button-right" ng-click="callTo(contactInfo.telephone)"
               aria-label="Add">
               <span>{{contactInfo.telephone}} </span>
               <button class="button button-balanced ink">
                 <i class="icon ion-android-call"></i>
              </button>
            </a>
            <a href="mailto:{{contactInfo.email}}" class="item item-button-right" ng-click="sendEmail(contactInfo.email)"
               aria-label="Add">
               <span>{{contactInfo.email}} </span>
               <button class="button button-balanced ink">
                 <i class="icon ion-android-mail"></i>
              </button>
            </a>
          </div>
          <br/>
          <p>Entre em contato conosco! <br/> Estamos a disposição para atendê-lo.</p>

      </div>
    </ion-content>
</ion-view>
