<!--View Information-->
<!--View name : About Us-->
<!--Controller name : aboutUsCtrl-->
<!--Controller path : www/templates/about-us/js/controllers.js-->
<!--State name : app.aboutUs-->
<!--URL : #app/aboutUs-->

<ion-view view-title="Fale com a gente">
    <ion-content>

        <div class="hero" style="background-image: url('http://www.mederi.com.br/imagens/Brasilia.jpg');">

        </div>

        <div class="content" style="text-align: center;">
            <h2>Rhases</h2>

            <h3>Nós acreditamos que o melhor do ser humano está em cuidar um do outro.</h3>
        </div>

        <div class="list">

            <div class="item item-icon-right">
                <h3>
                    <a ng-click="callTo(contactInfo.telephone)">{{contactInfo.telephone}}</a>
                </h3>
                <a ng-click="callTo(contactInfo.telephone)"
                   aria-label="Add">
                    <i class="icon ion-android-call"></i>
                </a>
            </div>

            <div class="item item-icon-right">
                <h3>
                    <a ng-click="sendEmail(contactInfo.email)">{{contactInfo.email}}</a>
                </h3>
                <i class="icon ion-android-mail" ng-click="sendEmail(contactInfo.email)"></i>
            </div>

        </div>

        <div class="content" style="text-align: center;">
            <h4>Por favor, entre em contato conosco sempre que achar necessário. Estamos a disposição para atendê-lo.</h4>
        </div>

    </ion-content>
</ion-view>
