<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->

            <div class="menu-left-header">
				<a ng-click="navigateTo('app.userProfile')">
	            	<img class="user-img" src="http://science-all.com/images/wallpapers/profile-pictures/profile-pictures-14.jpg">
				</a>

                <p>
                    <span class="title">Jose Lito</span>
                    <br/>
                    <span class="sub-title">Saúde nota 10!!!</span>
                </p>
            </div>
			<!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
                <!-- <md-subheader class="md-warn">Application Storage</md-subheader> -->
				<div class="row menu-item"  ng-click="navigateTo('app.dashboard')">
                    <div class="col-33">
                        <i class="fa fa-th-list"></i>
                    </div>
                    <div class="col-66">
                        <span>Dashboard</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.scheduleAppointment')">
                    <div class="col-33">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="col-66">
                        <span>Agendar Consulta</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.aboutUs')">
                    <div class="col-33">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="col-66">
                        <span>Sobre nós</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.defaultUI')">
                    <div class="col-33">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="col-66">
                        <span>Default UI</span>
                    </div>
                </div>
            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <!-- <md-subheader class="md-warn">Application Storage</md-subheader> -->
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.dashboard')">
                    <i class="fa fa-th-list"></i>
                    <span>Dashboard</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.scheduleAppointment')">
                    <i class="fa fa-user-md"></i>
                    <span>Agendar Consulta</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.aboutUs')">
                    <i class="fa fa-info"></i>
                    <span>Sobre nós</span>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
