<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->

            <div class="menu-left-header">
				<a ng-click="navigateTo('app.userProfile')">
	            	<img class="user-img" src="http://science-all.com/images/wallpapers/profile-pictures/profile-pictures-14.jpg">
				</a>

                <p>
                    <span class="title">Jose Lito</span>
                    <br/>
                    <span class="sub-title">Saúde nota 10!!!</span>
                </p>
            </div>
			<!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
                <!-- <md-subheader class="md-warn">Application Storage</md-subheader> -->
				<div class="row menu-item"  ng-click="navigateTo('app.dashboard')">
                    <div class="col-33">
                        <i class="fa fa-th-list"></i>
                    </div>
                    <div class="col-66">
                        <span>Dashboard</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.scheduleAppointment')">
                    <div class="col-33">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="col-66">
                        <span>Agendar Consulta</span>
                    </div>
                </div>
				<div class="row menu-item"  ng-click="navigateTo('app.whatAppointment')">
                    <div class="col-33">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="col-66">
                        <span>Qual consulta fazer?</span>
                    </div>
                </div>
				<div class="row menu-item" href="openMarket('https://play.google.com/store/apps/details?id=br.com.esec.icpm.android')">
                    <div class="col-33">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-66">
                        <span>Classifique a Rhases</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="navigateTo('app.news')">
                    <div class="col-33">
                        <i class="fa fa-newspaper-o "></i>
                    </div>
                    <div class="col-66">
                        <span>Novidades</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="navigateTo('app.setting')">
                    <div class="col-33">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="col-66">
                        <span>Configurações</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.talkWithUs')">
                    <div class="col-33">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="col-66">
                        <span>Fale com a gente</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="logout()">
                    <div class="col-33">
                        <i class="fa fa-sign-out"></i>
                    </div>
                    <div class="col-66">
                        <span>Sair</span>
                    </div>
                </div>
                <!-- <div class="row menu-item" ng-click="navigateTo('app.defaultUI')">
                    <div class="col-33">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="col-66">
                        <span>Default UI</span>
                    </div>
                </div> -->
            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <!-- <md-subheader class="md-warn">Application Storage</md-subheader> -->
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.dashboard')">
                    <i class="fa fa-th-list"></i>
                    <span>Dashboard</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.scheduleAppointment')">
                    <i class="fa fa-user-md"></i>
                    <span>Agendar Consulta</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.a')">
                    <i class="fa fa-question"></i>
                    <span>Qaul consulta fazer</span>
                </md-list-item>
				<md-list-item class="menu-list-item" ng-click="openMarket('https://play.google.com/store/apps/details?id=br.com.esec.icpm.android')">
                    <i class="fa fa-star"></i>
                    <span>Classifique a rhases</span>
                </md-list-item>
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.news')">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Novidades</span>
                </md-list-item>
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.setting')">
                    <i class="fa fa-cog"></i>
                    <span>Configurações</span>
                </md-list-item>
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.talkWithUs')">
                    <i class="fa fa-envelope"></i>
                    <span>Fale com a gente</span>
                </md-list-item>
				<md-list-item class="menu-list-item" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    <span>Sair</span>
                </md-list-item>
            </md-list>
            <!--end list section-->

			<br>
			<div class="row menu-item" ng-click="logout()">
				<p>
					Feito com amor em Brasília, DF, Brasil.
					<br>
					<small>
						Todos os direitos reservados
						<br>
						© Rhases Soluções em Tecnologia LTDA
						<br>
						<small>CNPJ 23.821.354/0001-00</small>
						<br>
						v1.0
					</small>
				</p>
			</div>
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
