<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content drag-content="slideSideMenu">
		<!-- HEADER BAR -->
		<ion-nav-bar class="bar-balanced" align-title="center">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
				<!-- // ui-sref="app.network-requests" -->
                <a class="button button-icon button-clear ion-android-mail" menu-toggle="right"></a>
            </ion-nav-buttons>
        </ion-nav-bar>

		<!-- CONTENT -->
        <ion-nav-view name="menuContent" ng-class="{ expanded: isExpanded }" ></ion-nav-view>

    </ion-side-menu-content>

	<!-- LEFT MENU -->
    <ion-side-menu side="left">
        <left-menu></left-menu>
    </ion-side-menu>


	<!-- RIGHT MENU -->
    <ion-side-menu side="right">
		<right-menu></right-menu>
    </ion-side-menu>
</ion-side-menus>
