<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <!-- <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-left': hasHeaderFableft}" align-title="left"> -->
		<ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- <ion-nav-view name="fabContent"></ion-nav-view> -->
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="balanced-bg expanded" style="background-size: cover;">
            <!-- <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span> -->
            <!-- <h2>Thronester</h2> -->

			<!-- <span class="avatar" style="background: url({{ appUser.picture }}); background-size: cover;"></span> -->
			<img class="avatar user-img" src="{{ appUser.picture }}">
			<h2 class="title">{{ appUser.name }}</h2>
            <!-- <a href="#">
			</a> -->
			<!-- <p>
				<span class="title">{{ appUser.name }}</span>
			</p> -->
        </ion-header-bar>
        <ion-content class="has-expanded-header">
            <ion-list class="menu-list">
                <ion-item nav-clear menu-close>
                    <div ui-sref="app.dashboard">
	                    <i class="fa fa-home"></i>
	                    <span>&nbsp;&nbsp; Minhas Consultas</span>
	                </div>
                </ion-item>
                <ion-item menu-close ui-sref="app.scheduleAppointment">
                    <div >
	                    <i class="fa fa-user-md"></i>
	                    <span>&nbsp;&nbsp; Agendar consulta</span>
	                </div>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <div>
						<a href="market://details?id=br.com.rhases.app">
		                    <i class="fa fa-star"></i>
		                    <span>&nbsp;&nbsp; Avalie-nos na Store</span>
						</a>
	                </div>
                </ion-item>
				<ion-item nav-clear menu-close>
					<div ui-sref="app.talkWithUs">
						<i class="fa fa-envelope"></i>
						<span>&nbsp;&nbsp; Fale com a gente</span>
					</div>
				</ion-item>
                <ion-item nav-clear menu-close>
					<div ng-click="logout()">
	                    <i class="fa fa-sign-out"></i>
	                    <span>&nbsp;&nbsp; Sair</span>
	                </div>
                </ion-item>
            </ion-list>

			<br/>
			<br/>
			<br/>

			<div class="row menu-item">
				<p>
					Feito com amor em Brasília, DF, Brasil.
					<br>
					<small>
						Todos os direitos reservados
						<br>
						© Rhases Soluções em Tecnologia LTDA
						<br>
						<small>CNPJ 23.821.354/0001-00</small>
						<br>
						v1.0
					</small>
				</p>
			</div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
