<!--View Information-->
<!--View name : Facebook Login-->
<!--Controller name : facebookLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookLogin-->
<!--URL : #app/facebookLogin-->

<ion-view title="Bem vindo à Rhases" >
	<ion-nav-buttons></ion-nav-buttons> <!-- Needed to not show menu -->
	<!--login content section-->
    <ion-content scroll-x="false" padding="true">
        <form class="text-center">
			<br />
			<br />
			<br />

            <div>
              <img src="img/logo.png" style="width: 80%; max-width: 200px;" />
            </div>

			<br />

            <h3>Podemos agendar a sua consulta?</h3>

			<br />
			<br />

            <div class="padding-top">
                <a class="button button-block button-positive facebook-background" nav-clear ng-click="facebookSignIn()">
					<i class="fa fa-facebook fa-lg"></i>
					&nbsp;
                    Continuar com o Facebook
                </a>
            </div>

			<!-- <div class="padding-top">
                <a class="button button-block button-positive" nav-clear ng-click="testLogin()">
                    Login de Teste
                </a>
            </div> -->
        </form>
    </ion-content><!--end login content section-->
</ion-view>
