<!--View Information-->
<!--View name : Facebook Login-->
<!--Controller name : facebookLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookLogin-->
<!--URL : #app/facebookLogin-->

<ion-view title="Bem vindo à Rhases">
	<!--left button on navigation bar-->
	<ion-nav-buttons side="left">
	</ion-nav-buttons> <!--end left button on navigation bar-->
	<!--login content section-->
    <ion-content scroll="false" padding="true" id="social-login">
        <form>
			<br />
			<br />
			<br />
            <div>
              <img src="img/logo.png" style="width: 80%; max-width: 200px;" />
            </div>
			<br />
			<br />
            <h3>Podemos agendar a sua consulta?</h3>
			<br />
			<br />
            <div class="padding-top">
                <a class="button button-block icon ion-social-facebook button-positive facebook-background" ng-click="facebookSignIn()">
                    Continuar com o Facebook
                </a>
            </div>

			<div class="padding-top">
                <a class="button button-block button-positive " ng-click="testLogin()">
                    Login de Teste
                </a>
            </div>
        </form>
    </ion-content><!--end login content section-->
</ion-view>
