<ion-view title="Aguarde seu convite">
	<!--login content section-->
	<ion-content padding="true" scrollbar-x="false">
		<div class="text-center padding-vertical">

			<i class="fa fa-envelope-o balanced fa-big-icon" aria-hidden="true"></i>

			<br />
			<br />
			<br />

			<h3>Convite solicitado!</h3>

			<br />

			<p>
				A <strong>rhases</strong> preza pela qualidade do atendimento. Por isso estamos liberando aos poucos o acesso ao aplicativo para novos usuários.
			</p>

			<br />

			<p>
				Aguarde! Entraremos em contato assim que tivermos novas contas disponíveis.
			</p>

			<br />
			<br />

			<p>
				<small>Mas fica tranquilo! É bem rápido! :)</small>
			</p>

			<br />

			<div style="line-height: 10px;">
				<md-button class="md-primary" ng-click="close()">Fechar</md-button>
				<br />
				<span>ou</span>
				<br />
				<md-button ng-click="logout()" style="font-size: 12px;"><small>Entrar com outro usuário</small></md-button>
			</div>

		</div>
	</ion-content>
</ion-view>
