<!--This is a main HTML file of project default page when application start.-->
<!--All reference of css and javascript lib is here.-->

<!DOCTYPE html>
<html>

<!--head section This is a place of all reference of css and javascript lib-->
<head>
    <!-- Meta section -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no"> <!-- To disable phone number typing.-->
    <!-- end Meta section -->
    <title></title>

    <!-- Font reference section -->
    <link href="lib/robotodraft/robotodraft.css">
    <!-- end Font reference section -->

    <!-- CSS reference section -->
    <link rel="stylesheet" href="css/ionic.app.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet prefetch" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
    <!-- end CSS reference section -->

    <!-- Ionic javascript lib -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	<!-- <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script> -->
    <!-- end Ionic javascript lib -->

    <!-- Angular javascript lib -->
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
	<script src="lib/angular-material/angular-material.js"></script>
    <!-- end Angular javascript lib -->

    <!-- Cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
	<script src="cordova.js"></script>
    <!-- end Cordova script -->

    <!-- Utils section -->
    <script src="lib/ng-lodash/build/ng-lodash.min.js"></script>
	<script src="lib/brazilian-cities/index.js"></script>
	<script src="lib/scheduler-utils/index.js"></script>
    <script src="lib/medical-specializations/index.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/moment/locale/pt-br.js"></script>
    <!-- end Utils section -->

    <!--ionic framework ngIOS9UIWebViewPatch-->
    <!--Learn more about ngIOS9UIWebViewPatch at : http://blog.ionic.io/ios-9-potential-breaking-change/-->
    <script src="ngIOS9UIWebViewPatch/angular-ios9-uiwebview.patch.js"></script>
    <!--end ionic framework ngIOS9UIWebViewPatch-->

    <!-- app.js section-->
	<script src="js/module.js"></script>
    <script src="js/app.constants.js"></script>
    <script src="js/app.js"></script>
    <script src="js/md-config.js"></script>
	<script src="js/routes.js"></script>
    <!-- end app.js section-->

    <!-- Controllers section-->
	<script src="js/shared/dialog.controller.js"></script>
	<script src="js/shared/epoch-to-date.filter.js"></script>
	<script src="js/shared/local-storage.service.js"></script>
	<script src="js/shared/numbers-only.directive.js"></script>
	<script src="js/shared/number-suffix.filter.js"></script>
	<script src="js/shared/toast.controller.js"></script>
    <script src="templates/menu/menu.controller.js"></script>

    <script src="templates/dashboard/list-appointment/list-dashboard.controller.js"></script>
    <script src="templates/dashboard/detail-appointment/detail-appointment.controller.js"></script>
    <script src="templates/dashboard/cancel-appointment/cancel-appointment.controller.js.js"></script>

    <script src="templates/login/login.controller.js"></script>
	<script src="templates/register/complete-register/complete-register.controller.js"></script>
	<script src="templates/register/profile/profile.controller.js"></script>
	<script src="templates/not-invited/not-invited.controller.js"></script>
    <script src="templates/setting/setting.controller.js"></script>

    <script src="templates/schedule-appointment/specialty.controller.js"></script>
    <script src="templates/schedule-appointment/days.controller.js"></script>
    <script src="templates/schedule-appointment/days-periods.controller.js"></script>
    <script src="templates/schedule-appointment/locations.controller.js"></script>
    <script src="templates/schedule-appointment/confirmation.controller.js"></script>
    <script src="templates/schedule-appointment/happy-end.controller.js"></script>
    <script src="templates/schedule-appointment/schedule-appointment-request.service.js"></script>

	<script src="templates/talk-with-us/talk-with-us.controller.js"></script>
	<script src="templates/user-profile/user-profile.controller.js"></script>

	<script src="js/analytics/analytics-config.js"></script>
	<script src="js/analytics/analytics.service.js"></script>

	<script src="js/user/user-profile.service.js"></script>
	<script src="js/user/user.service.js"></script>
	<script src="js/user/invite.service.js"></script>
	<script src="js/user/auth.service.js"></script>

    <script src="js/appointment/appointment.service.js"></script>
	<script src="js/appointment/appointment-request.service.js"></script>

	<script src="js/auth/auth-interceptor.service.js"></script>
	<script src="js/auth/auth.js"></script>
	<script src="js/push/push.service.js"></script>
	<script src="js/push/push.js"></script>
    <!-- end Controllers section-->

    <!-- jQuery section-->
    <script src="lib/jquery/dist/jquery.js"></script>
    <!-- end jQuery section-->

</head><!-- end head section-->


<!--body section-->
<body ng-app="starter" class="hide-native-scroll-y">

	<!--Custom Style section-->
	<style type="text/css">
	    {{customStyle}}
	</style><!-- end Custom Style section-->

	<!-- Ionic navigation bar section-->
	<ion-nav-view></ion-nav-view>
	<!-- end Ionic navigation bar section-->

</body><!-- end body section-->


<!-- Angular custom template section-->

<!--Share template confirm-dialog section-->
<script type="text/ng-template" id="confirm-dialog.html">
    <md-dialog aria-label="confirm-dialog">
        <form>
            <md-dialog-content>
                <div>
                    <h2 class="md-title">{{displayOption.title}}</h2>

                    <p>{{displayOption.content}}</p>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <a class="md-primary-color dialog-action-btn" ng-click="cancel()">
                    {{displayOption.cancel}}
                </a>
                <a class="md-primary-color dialog-action-btn" ng-click="ok()">
                    {{displayOption.ok}}
                </a>
            </div>
        </form>
    </md-dialog>
</script> <!-- end share template confirm-dialog section-->

<!-- Share template toast section-->
<script type="text/ng-template" id="toast.html">
    <md-toast class="toast-form">
        <span flex>{{displayOption.title}}</span>
    </md-toast>
</script><!-- end share template toast section-->

<!-- end Angular custom template section-->

</html>
