<!--View Information-->
<!--View name : Facebook Login-->
<!--Controller name : facebookLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookLogin-->
<!--URL : #app/facebookLogin-->

<ion-view title="Recebemos sua solicitação!">
	<ion-nav-buttons></ion-nav-buttons> <!-- Needed to not show menu or back button -->
    <ion-content>
        <div class="text-center padding">

			<br />

			<i class="fa fa fa-clock-o positive fa-big-icon" aria-hidden="true"></i>

			<br />
			<br />
			<br />

			<p class="big-text">
				Em até um <b>dia util</b> você receberá a <b>confirmação</b> do agendamento.
			</p>

			<br />

			<p class="big-text">
				Até lá!
			</p>

			<br />
			<br />

			<button nav-clear ui-sref="app.dashboard" class="button button-block button-positive">OK</button>

        </div>

    </ion-content>
</ion-view>
