<ion-view title="Complete o seu registro">
    <!-- <ion-nav-buttons side="left">
        <button ng-click="back()" class="button back-button buttons button-clear header-item nav-back-btn">
        	<i class="ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons> -->

	<ion-content id="register-content" padding="true" scrollbar-x="false">
    	<form name="registerUser">
			<ion-list>
				<label class="item item-input item-floating-label">
					<span class="input-label">Nome</span>
					<input ng-model="appUser.name" name="name" required placeholder="Nome" type="text">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Telefone</span>
					<input ng-model="appUser.phone" name="phone" required placeholder="Telefone" type="tel" mask="(99) 9?9999-9999">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Data de Nascimento</span>
					<input ng-model="birthdate" name="birthdate" required placeholder="Data de Nascimento" type="tel" mask="39/19/9999" >
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Sexo
					</div>
					<select ng-model="appUser.gender" required name="gender">
						<option value="male">Homem</option>
						<option value="female">Mulher</option>
					</select>
				</label>
			</ion-list>

			<br />

			<button class="button button-block button-positive button-balanced" ng-disabled="!(registerUser.name.$valid && registerUser.phone.$valid && registerUser.birthdate.$valid && registerUser.gender.$valid)" ng-click="save()">
				Continuar
			</button>
    	</form>
	</ion-content>
</ion-view>
