<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : daysPeriodsCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment.daysPeriods-->
<!--URL : #app/scheduleAppointment/daysPeriods-->

<ion-view title="Agendar - Escolher dias">
	<ion-content>
	    <form name="appointmentForm">
			<br />

			<label>Blablablabalbalba</label>

			<ion-list>
				<ion-item ng-repeat="day in daysSelected">
					{{ day.label }}
				</ion-item>
			</ion-list>

			<a ui-sref="app.dashboard" class="button button-block button-positive">Confirmar dias</a>
	    </form>
	</ion-content>
</ion-view>
