<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : daysCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment.days-->
<!--URL : #app/scheduleAppointment/days-->

<ion-view title="Agendar - Escolher dias">
	<ion-content>
	    <form name="appointmentForm">
			<br />

			<label>Em quais dias você tem disponibilidade?</label>
			<ion-checkbox ng-repeat="item in appointment.days"
                  ng-model="item.checked"
                  ng-checked="item.checked">
	         	{{ item.label }}
	        </ion-checkbox>

			<a ui-sref="app.scheduleAppointment.daysPeriods" class="button button-block button-positive">Confirmar dias</a>
	    </form>
	</ion-content>
</ion-view>
