<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : locationsCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment.locations-->
<!--URL : #app/scheduleAppointment/locations-->

<ion-view title="Quais locais?">
	<ion-content>
	    <form name="appointmentForm">

			<ion-list>
				<ion-checkbox ng-repeat="item in appointment.locations"
	                  ng-model="item.checked"
	                  ng-checked="item.checked">
		        	{{ item.label }}
		        </ion-checkbox>

				<label class="item item-checkbox ng-not-empty ng-valid"
					aria-checked="false" aria-invalid="false">
					<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
						<input type="checkbox"
							ng-model="appointment.otherLocation.checked"
							ng-checked="appointment.otherLocation.checked"
							class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">

							<i class="checkbox-icon"></i>

					</div>
					<div class="item-content" ng-transclude="">
						<span class="ng-binding">
							<label class="item-input">
							    <span class="input-label">Outro:</span>
							    <input type="text" ng-model="appointment.otherLocation.value">
		  					</label>
		        		</span>
					</div>
				</label>

		  	</ion-list>

			<a ui-sref="app.scheduleAppointment.confirmation" class="button button-block button-positive">Continuar</a>
	    </form>
	</ion-content>
</ion-view>
