<ion-view>
	<ion-nav-title>
		<i class="icon fa fa-comment-o"></i>  Alguma observação?
	</ion-nav-title>
	<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
	<ion-content>
	    <form name="appointmentForm">
				<md-content class="md-no-momentum" class="layout-row">
					<md-input-container style="width:100%">
						<label>Observações</label>
						<textarea name="observationsField" ng-model="model.comments" rows="6" placeholder="Alguma coisa diferente sobre esse agendamento que gostaria de nos comunicar? Escreva aqui.">
						</textarea>
					</md-input-container>
				</md-content>
				<a ng-click="continue()" class="button button-block button-positive">Continuar</a>
	    </form>
	</ion-content>
</ion-view>
