<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : scheduleAppointmentCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment-->
<!--URL : #app/scheduleAppointment-->

<ion-view title="Agendar">
	<ion-content>
	    <form name="appointmentForm">

			<label for="specialtyCombo">Com qual médico você quer se consultar?</label>
            <select name="specialtyCombo" ng-model="specialtySelected"
				ng-options="specialty for specialty in specialties">
			</select>

			<a ui-sref="app.dashboard" class="button button-block button-positive">Agendar</a>
	    </form>
	</ion-content>
</ion-view>
