<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : specialtyCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment-->
<!--URL : #app/scheduleAppointment-->

<ion-view>
	<ion-nav-title>
      <i class="icon fa fa-stethoscope"></i>  Qual especialidade?
    </ion-nav-title>
	<ion-nav-view></ion-nav-view>
	<ion-content>
	    <form name="appointmentForm">

			<ion-list>
				<ion-item ng-repeat="specialty in specialties" ng-click="selectSpecialty(specialty)">
					{{ specialty.label }}
				</ion-item>
			</ion-list>

	    </form>
	</ion-content>
</ion-view>
