<ion-tabs class="tabs-icon-top tabs-balanced tabs-striped">

  <!-- Dashboard Tab -->
  <ion-tab title="Meu Plano" icon-off="fa fa-address-card" icon-on="fa fa-address-card" ui-sref="app.tabs.infos">
    <ion-nav-view name="tab-infos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Rede" icon-off="fa fa-hospital-o" icon-on="fa fa-hospital-o" ui-sref="app.tabs.network">
    <ion-nav-view name="tab-network"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Emergência" icon-off="fa fa-ambulance" icon-on="fa fa-ambulance" ui-sref="app.tabs.emergency-hospitals">
    <ion-nav-view name="tab-emergency"></ion-nav-view>
  </ion-tab>


</ion-tabs>
