<ion-view title="Selecione seu plano">
	<ion-nav-buttons></ion-nav-buttons> <!-- Needed to not show menu or back button -->

	<ion-content id="register-content" padding="false" scrollbar-x="false">

		<section ng-if="healthPlans && healthPlans.length > 0">
			<div class="list" style="margin-bottom: 0px;">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Pesquise seu plano" ng-model="searchText">
				</label>
			</div>
			<br>
			<ion-list ng-repeat="healthPlan in healthPlans | filter:searchText | limitTo: 10" ng-click="select(healthPlan)">
				<ion-item>
					<h2 class="text_wrap">{{ healthPlan.name }}</h2>
					<p> {{ healthPlan._id.cod }}</p>
				</ion-item>
			</ion-list>
		</section>

		<section class="padding text-center" ng-if="healthPlans.length == 0 && !isLoading">
			<br>
			<span class="assertive">Não há nenhum plano que atenda em sua região. :(</span>
			<br>
		</section>
	</ion-content>
</ion-view>
