<!--View Information-->
<!--View name : Schedule Appointment-->
<!--Controller name : locationsCtrl-->
<!--Controller path : www/templates/scheduleAppointment/js/controllers.js-->
<!--State name : app.scheduleAppointment.locations-->
<!--URL : #app/scheduleAppointment/locations-->

<ion-view title="Confirmar">
	<ion-nav-title>
    	&nbsp;&nbsp;<i class="icon ion-checkmark"></i>&nbsp;&nbsp;Confirmar
    </ion-nav-title>
	<ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
	<ion-nav-view></ion-nav-view>
	<ion-content padding="true">
		<div class="list card">
			<div class="item item-icon-left">
				<i class="icon fa fa-stethoscope"></i>
				<ion-list>
					<ion-item>
					    {{ appointment.specialty.label }}
					</ion-item>
				</ion-list>
			</div>

			<div class="item item-icon-left">
			    <i class="icon ion-calendar"></i>
				<ion-list>
					<ion-item ng-repeat="day in appointment.weekdays">
						{{ day.label }}
					</ion-item>
				</ion-list>
			</div>

			<div class="item item-icon-left">
			    <i class="icon fa fa-clock-o"></i>
				<ion-list>
					<ion-item ng-repeat="period in appointment.periods">
						{{ period.label }}
					</ion-item>
				</ion-list>
			</div>

			<div class="item item-icon-left">
			  <i class="icon fa fa-map-marker"></i>
				<ion-list>
					<ion-item ng-repeat="location in appointment.locations">
						{{ location.label }}
					</ion-item>
				</ion-list>
			</div>

			<div class="item item-icon-left" ng-if="appointment.observations">
			  <i class="icon fa fa-comment-o"></i>
				<ion-list>
					<ion-item>
						{{ appointment.observations }}
					</ion-item>
				</<ion-list>
			</div>

		</div>

	    <form name="appointmentForm">
			<button ng-click="submit()" class="button button-block button-positive">CONFIRMAR</a>
	    </form>
	</ion-content>
</ion-view>
