<ion-view>
	<ion-nav-title>
    	&nbsp;&nbsp;<i class="icon ion-information-circled"></i>&nbsp;&nbsp;{{ makeTitle(appointmentRequest) }}
    </ion-nav-title>
	<!-- <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons> -->
	<ion-content>
		<div class="list card appointment-details-list">
			<ion-item style="padding-bottom: 0px;">
				<span>Consulta com</span>
			</ion-item>
			<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
				<i class="icon fa fa-stethoscope"></i>
				<ion-list>
					<ion-item>
						{{ TRANSFORM_UTILS.getMedicalSpecialtyLabelByCod(appointmentRequest.speciality) }}
					</ion-item>
				</ion-list>
			</ion-item>


			<ion-item style="padding-bottom: 0px;">
				<span>para</span>
			</ion-item>
			<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
			    <i class="icon ion-calendar"></i>
				<ion-list>
					<ion-item ng-repeat="day in appointmentRequest.weekday">
						{{ TRANSFORM_UTILS.getWeekdayLabelByCod(day) }}
					</ion-item>
				</ion-list>
			</ion-item>

			<ion-item style="padding-bottom: 0px;">
				<span>no</span>
			</ion-item>
			<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
			    <i class="icon fa fa-clock-o"></i>
				<ion-list>
					<ion-item ng-repeat="period in appointmentRequest.timerange">
						{{ TRANSFORM_UTILS.getPeriodLabelByCod(period) }}
					</ion-item>
				</ion-list>
			</ion-item>

			<ion-item style="padding-bottom: 0px;">
				<span>em</span>
			</ion-item>
			<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left">
				<i class="icon fa fa-map-marker"></i>
				<ion-list>
					<ion-item ng-repeat="area in appointmentRequest.area">
						{{ area }}
					</ion-item>
				</ion-list>
			</div>

			<ion-item style="padding-bottom: 0px;"  ng-if="appointmentRequest.comment">
				<span>com os seguintes detalhes</span>
			</ion-item>
			<ion-item style="padding-top: 0px; padding-bottom: 0px;" class="item-icon-left" ng-if="appointmentRequest.comment">
				<i class="icon fa fa-comment-o"></i>
				<ion-list>
					<ion-item>
						{{ appointmentRequest.comment }}
					</ion-item>
				</ion-list>
			</ion-item>

		</div>

	</ion-content>
</ion-view>
