p {
  color: #555; }

.bar.bar-balanced {
  background-color: #4CAF50;
  color: #fff; }

p.big-text {
  font-size: 16px;
  line-height: 150%;
  color: #616977; }

h2.big-text {
  color: #616977; }

i.fa-big-icon {
  font-size: 10em; }

.appointment-details-list .item .icon {
  font-size: 22px; }

.button.button-positive.facebook-background {
  background-color: #3c5c99; }

.popup-buttons button {
  padding-left: 1rem;
  padding-right: 1rem; }
